<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>website check</title>
<link href="web_project_styles.css" rel="stylesheet" type="text/css">
<script type="text/javascript">
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>
</head>

<body onLoad="MM_preloadImages('../pic3.jpg')">

<!-- head -->
<header>
	<img src="../pic2.jpg" class="pic_1" id="Image1" onMouseOver="MM_swapImage('Image1','','../pic3.jpg',1)" onMouseOut="MM_swapImgRestore()"  >
	<nav>
		<ul>
			<li><a href="index.html">home</a></li>
			<li><a href="about_me.html">about me</a></li>
			<li><a href="services.html">services</a></li>
			<li><a href="contact_me.html">contact me</a></li>
		</ul>
	</nav>
	
	
		<div class="info">
  <p>
			<ul>
			  <li>
			    <h1>
			      <u>Miguel Rivera</u> </h1>
			  </li>
			  <li style="font-style: normal; font-weight: bold;">
			   Broker
			   </li>
			  <li>
		      <span style="font-weight: bold">Phone number:</span> (630)-856-9681 </li>
			  <li> <span style="font-weight: bold">Email Address:</span> miguelrivera@c21affiliated.com </li>
			  <li>
			  <span style="font-weight: bold">Languages Spoken: </span>English, Spanish. </li>
  </ul>
</p>
</div>

</header>

<!-- section (editable)-->
<section>
  <h1>About me</h1>
  <div>
    <div>
      <h2>Together we can find you the perfect place you can call Home!</h2>
      <p class="content">Hi, I'm a full time agent from Century 21 Affiliated&reg; in Aurora, Illinois. I focus on residential homes as well as rental homes. I conduct and specialize my business in the West side of Aurora, where I   also get to call home as I was born and raised there. Knowing every square mile of this part of town, I'm more than confident I can help you will all of your real estate needs in this area comfortably. </p>
      <p class="content">I'm currently going to school for Website Development. Some of   my hobbies I enjoy most are going to the casino, rock climbing, hiking and traveling.</p>
    </div>
  </div>
  <p>&nbsp;</p>
</section>

<!-- aside (editable)-->
<aside>
  <h1>work with me</h1>
  <p style="font-weight: bold; font-size: 18px; text-decoration: underline;"> Let me be your personal agent. </p>
  <form>
    <p>
      <textarea rows="7" placeholder="messege">
  	
  </textarea>
    </p>
    <p><br>
      
      <input type="text" placeholder="first name">
    </p>
    <p>
      <input type="text" placeholder="last name">
    </p>
    <p>
      <input type="email" placeholder="e-mail address">
    </p>
    <p>
      <input type="tel" placeholder="phone number">
    </p>
  </form>
   <input name="send" type="button" id="send" value="send">
</aside>

<!-- footer -->
<footer class="footer" style="font-weight: bold">Century21 Affiliated &bull; 1999 W. Galena Blvd. Suite A. Aurora, IL 60506 &bull; (630) 897-4114
</footer>

</body>
</html>
